@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Prociono');

body {
    font-family: 'Prociono', serif;
}

.panel-body  {
    word-break: break-all;
}		    


.story-title{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

.story-text {
    /* font-family: 'Amatic SC', cursive; */
}
