{% extends "base.html" %}
{% block navbar %}
<li class="greet">Hello {{username}}!</li>
<li><a href = "/upload"> Upload </a></li>
<li><a href = "/logout"> Logout </a></li>

{% endblock %}

{% block body %}
<!--
{% for image in images %}


{% endfor %}
-->
{% if images %}
 

{% for image in images %}
<img src="{{ url_for('static', filename = image[0]) }}">
<img src="../static/images/train.jpg">
<img src="../static/images/train.jpg">
<img src="../static/images/train.jpg">
<img src="../static/images/train.jpg">
<img src="../static/images/train.jpg">


{% endfor %}
{{ pagination.links }}
{% endif %}

{% endblock %}

{% block js %}
  {% if active_url %}
    $('#{{ active_url }}').addClass('active');
  {% else %}
  $('#images-url').addClass('active');
  {% endif %}
{% endblock %}
 
