{% extends "base.html" %}

{% block head %}
	<script src="/static/js/lazyload.js"></script>
{% endblock %}

{% block navbar %}
{% if username %}
<li><a class="nav-item nav-link" href = "/profile"> Profile </a></li>
<li><a class="nav-item nav-link" href = "/upload"> Upload </a></li>
<li><a class="nav-item nav-link" href = "/logout"> Logout </a></li>


{% else %}
<li><a class="nav-item nav-link" href="/register">Register</a></li>
<li><a class="nav-item nav-link" href="/login">Login</a></li>
{% endif %}
{% endblock %}

{% block body %}
<div class="container">
   
    {% for image in images %}
  <h4>{{ image[1] }}</h4>
	<a href="{{ url_for('static', filename = 'images' + image[0])}}" data-lightbox="image">
	  <img class="index lazy" src="/static/js/ajax-loader.gif" data-original="{{ url_for('static', filename = 'images' + image[0]) }}" width="200" height="200"></img></a>
	<br>
	 posted by {{ image[2] }} <br><br><br><br>
    {% endfor %}
  
</div>


<script type="text/javascript" charset="utf-8">
  $(function() {
     $("img.lazy").lazyload({
         effect : "fadeIn"
     });

  });
  </script>
{% endblock %}
 
